QMainWindow {
    background-color: #E7F1A8;
    border-radius: 16px;
}

QPushButton {
    background: #364C84;
    border: 2px solid #B7DFF3;
    border-radius: 24px;
    font-size: 24px;
    color: #E7F1A8;
    width: 132px;
    height: 52px;
}


